@model IEnumerable<CDCL20250320.AppWebMVC.Models.User>

@{
    ViewData["Title"] = "Index";
}

<h1>Usuario</h1>

<form asp-action="Index">
    <div class="row">
       
        <div class="col-4">
            <div class="form-group">
                <label class="control-label">Usuarios</label>
                <select name="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <input type="submit" value="Buscar" class="btn btn-primary" />
            <a class="btn btn-info" asp-action="Create">Ir a crear</a>
        </div>
    </div>
</form>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear usuario</a>
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.UserId" class="btn btn-success">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.UserId" class="btn btn-primary">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.UserId" class="btn btn-danger">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts {
    <script>
        $(document).ready(function() {
             // $('#myTable').DataTable();

            // $('#myTable').DataTable({
            //      "language": {
            //     "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            //     }
            // });

             $('#myTable').DataTable({
               "language":languageTable
             });
        });
    </script>
}
