@model IEnumerable<CDCL20250320.AppWebMVC.Models.Warehouse>

@{
    ViewData["Title"] = "Index";
}

<h1>Bodegas</h1>

<p>
    <a asp-action="Create" class="btn btn-secundary">Agregar nueva bodega</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WarehouseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Notes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Notes)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.WarehouseId" class="btn btn-secondary">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.WarehouseId" class="btn btn-primary">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.WarehouseId" class="btn btn-danger">Elimminar</a>
            </td>
        </tr>
}
    </tbody>
</table>



@section Scripts {
    <script>
        $(document).ready(function() {
             // $('#myTable').DataTable();

            // $('#myTable').DataTable({
            //      "language": {
            //     "url": "//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json"
            //     }
            // });

             $('#myTable').DataTable({
               "language":languageTable
             });
        });
    </script>
}
